

/* .btn1-home {
  width: 150px;
  height: 25px;
  border: 0;
  border-radius: 10px;
  padding: 0px 5px 5px 5px;

} */
.btn2-home {
  /* width: 100px; */
  border: 0;
  background-color: #6c5f5b;
  border-radius: 10px;
  color: #DADDB1;
}
.body2-home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 300px; */
  background-color: lightgray;
}





